<header
  class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom container"
>
  <div class="d-flex align-items-center">
    <a
      href="/"
      class="d-inline-flex align-items-center link-body-emphasis text-decoration-none"
    >
      <span class="ms-2 fw-bold fs-4">Photo Search</span>
    </a>
  </div>

  <nav class="d-flex">
    <ul class="nav">
      <li class="nav-item">
        <a href="#about" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a href="#services" class="nav-link">Services</a>
      </li>
      <li class="nav-item">
        <a href="#contact" class="nav-link">Contact</a>
      </li>
    </ul>
  </nav>

  <div class="col-md-3 text-end">
    <button type="button" class="btn btn-outline-primary me-2">Login</button>
    <button type="button" class="btn btn-primary">Sign-up</button>
  </div>
</header>
